*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.cursor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/backup
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Fichiers temporaires
~$*
*.tmp
*.temp

# Fichiers de test
**/test-*.html
**/test-*.js

# Templates
*.template.js

README_EXPERTISE.md
IMPLEMENTATION_SUIVI.md